/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_core
 *= require store/spree_promo

 *= require_self
 *= require_tree .
 *= require themes/default/default
 *= require themes/pascal/pascal
 *= require themes/orman/orman
 *= require nivo-slider
 require spree_variant_options
*/

h1.three.columns{
	height: 50px!important;
}

.errorExplanation p, .errorExplanation li{
	color: black;
}

body{
	background-repeat: repeat-x;
	color:#2190c5;
}
  
  /*FILTROS PROCUCTS-VARIANTS*/
  .filtros select{
    background: #fff;
    height: 30px;
    width: 50%;
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 1px 1px 5px 0px #cccccc;
    -moz-box-shadow: inset 1px 1px 5px 0px #cccccc;
    box-shadow: inset 1px 1px 5px 0px #cccccc;
  }
  .clearfix:after, .container_16:after {
    clear: both !important;
  }
  .clearfix:before, .clearfix:after, .container_16:before, .container_16:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  .filtros {
    padding: 10px;
    margin: 20px 0;
    font-size: 12px;
    background: #e2e2e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
    }
   .filtros ul {margin: 0; padding: 0;}
   .filtros ul li {margin: 0 10px 0 0; float: left;}
   .filtros ul li label {display: block; margin-bottom: 5px; line-height: 12px;}
   .filtros ul li select {width: 90px; margin: 0;}
    
   .filtros-instrucoes select {width: 150px !important;}
/* Produtos - listagem
----------------------------------------------------------------------------------------------------*/
/* tï¿½tulo e trigger */
	.prod-accordion h2 {
	margin: 0 0 1px 0;
	padding: 0;
	}
	.prod-accordion h2 a {
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		background: #414141 url(/themes/eurocartoes/frontend/images/icones/ico-seta-fechado.png) 98% center no-repeat;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		text-transform: uppercase;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.prod-accordion h2 a.aberto {background-image: url(/themes/eurocartoes/frontend/images/icones/ico-seta-aberto.png);}
/* conteï¿½do */
.prod-accordion .prod-accordion-cont {
	border: 1px solid #e2e2e2;
	border-top: none;
	margin-bottom: 1px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	}
	.prod-accordion .prod-accordion-cont table {
		margin: 0 auto;
		width: 98% !important;
		border: none !important;
	}
	.prod-accordion .prod-accordion-cont table tr {background: url(/themes/eurocartoes/frontend/images/bg-dot.gif) bottom repeat-x;}
	.prod-accordion .prod-accordion-cont table th,
	.prod-accordion .prod-accordion-cont table td {padding: 0;}
	.prod-accordion .prod-accordion-cont p {
		margin: 0;
		padding: 10px 0;
		color: #666;
		font-size: 12px;
		}
		
		.prod-accordion-instrucoes .prod-accordion-cont * {padding: 10px !important;}
		.prod-accordion .prod-accordion-cont a { text-decoration: none; }
		.prod-accordion .prod-accordion-cont p span {
			display: block;
			font-size: 14px;
			color: #e20b82;
		}
		.prod-accordion .prod-accordion-cont p strong {font-size: 13px; color: #000;}
	.prod-accordion .prod-accordion-cont table td.col-bt-comprar {
		width: 90px;
	}
	.prod-accordion .prod-accordion-cont table td.col-bt-comprar p {padding: 0; margin: 0;}
	.prod-accordion .prod-accordion-cont table a.bt-comprar {
		display: block;
		width: 90px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: #fff;
		text-decoration: none;
		background: #e80b86;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.prod-accordion.prod-accordion-instrucoes .prod-accordion-cont p {font-size: 14px !important;}
   /*FILTROS PROCUCTS-VARIANTS*/



/*ENTREGAR METODOS*/

.clearfix, .container_16 {
	zoom: 1;
}

label {
	padding: 0;
}

.lista-entrega li {
	border: 1px solid #fff;
	border-bottom-style: dashed;
	border-bottom-color: #ccc;
	margin: 0;
	padding: 10px;
}

.noMarker li {
	list-style: none;
	margin-left: 0;
}
.lista-entrega li input[type=radio] {
	margin: 20px 10px 0 0;
}
input[type="radio"] {
	vertical-align: bottom;
}
.pointer {
	cursor: pointer;
}
.left {
	float: left;
}
input, button, textarea, select, optgroup, option {
	font: inherit;
	text-transform: inherit;
	line-height: inherit !important;
}
.lista-entrega li label {
	padding-top: 0;
}
.lista-entrega li img {
	margin-right: 5px;
}

img {
	vertical-align: bottom;
}

.cc-type img{
	vertical-align: middle;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.bt-comprar label{
	height:100%; 
	display:block;
	cursor:pointer;
}

/* tipos de entrega */
.lista-entrega li input[type=radio] {margin: 20px 10px 0 0;}
.lista-entrega li label {padding-top: 0;}
.lista-entrega li h5 {
	font-family: 'KlavikaRegular';
	font-size: 16px;
	color: #666;
	margin-top: 0;
}
.lista-entrega li img {margin-right: 5px;}
.lista-entrega li p {margin: 0;}
.lista-entrega li p strong {font-size: 16px;}
.lista-entrega li {
	border: 1px solid #fff;
	border-bottom-style: dashed;
	border-bottom-color: #ccc;
	margin: 0;
	padding: 10px;
}
.lista-entrega li.selected,
.lista-entrega li:hover {
	background-color: #ebf5e1;
	border: 1px solid #cee4b7;
}
.lista-entrega li.selected {background: #ebf5e1 url(ico-check.png) 98% 10px no-repeat;}
.lista-entrega li h5 {
	font-family: 'KlavikaRegular';
	font-size: 16px;
	color: #666;
	margin-top: 0;
}
.lista-entrega h5, p {
	padding: 0;
}
.lista-entrega p, li, h5 {
	margin: 0;
	padding: 0;
}
.lista-entrega li p {
padding-right: 0;
padding-left: 0;
}
.lista-entrega strong span, label span {
	color: #c00;
}
/*ENTREGA METHODOS*/







a, li, p, span,
#breadcrumbs li a,
span.price,
table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"],
table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"],
div[data-hook="inside_cart_form"] #subtotal span.order-total{
	color:#2190c5;	
}

#update-cart .primary,
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.button{
	background-color: #d0258a;
	border:0px;
}

#horizontal_bar{
	margin-bottom: 40px;	
}

#horizontal_bar #products{
	border:1px solid #eee;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px; 
	padding: 11px;
}
.container .columns{
	margin-right: 0px;
	margin-left: 0px;
}

.container .three.columns{
	width: 200px;
	height: 334px;
}

body #horizontal_bar #products li{
	background-color: #e2e2e2;
	border: 0px;
	border-radius: 4px;
	color:#666;
	margin: 2px;
	height: 34px;
	width: 183px;
}

#horizontal_bar #products li:hover{
	background-color: #f4ea0e;
}

body #horizontal_bar #products li a{
	border: 0px;
	height: auto;
}

#horizontal_bar ul#products li .product-image{
	font-size: 14px;
}

.container .twelve.columns{
	width: 960px;
}



#open_horiz_bar{
	background-image: url(/arrow_down.png);
	background-repeat:  no-repeat;
	background-position: 926px 24px;
	background-color: #f4ea0e;
	height: 55px;
}

#open_horiz_bar p{
	color: #000;
	font-size: 20px;
	margin: 0px auto;
	padding-top: 16px;
	padding-left: 16px;
}

body #products li .price{	
	font-size: 16px;
}

#sidebar #taxonomies .taxonomy-root{
	background-color: #d0258a;
	border:0px;
	color:#fff;
	margin: 0px;
	padding: 5px 10px;
}

#sidebar #taxonomies ul{
	background-color: #ffd324;
	border-bottom: 5px solid #ffaf24;
	list-style: none;
	padding: 10px;
}

#sidebar #sidebar_products_search .filter-title{
	background-color: #d0258a;
	border:0px;
	color:#fff;
	margin: 0px;
	padding: 5px 10px;
}

#sidebar #sidebar_products_search ul{
	background-color: #ffd324;
	border-bottom: 5px solid #ffaf24;
	list-style: none;
	padding: 10px;	
}

#sidebar #sidebar_products_search input[type="submit"]{
	width: 100px;
}

#products li{
	background-color: #f9f9f9;
	border:10px solid #e6e6e6;
	margin-right: 5px;
}

ul#products li{
	margin: 0px 10px 30px 10px;

}

ul#products li .product-image{
	border:0px;
	font-size: 15px;
	font-weight: normal;
	height: 190px;
}

ul#products li .product-image img{
	width: 190px;

}

ul#products li a.info{
	border-bottom: 2px dotted #d9d9db;
	color: #e80b86;
	margin: 10px;
	margin-top: 0px;
}

#horizontal_bar ul#products li a.info {
	color:#666;
	padding: 8px 6px;
	margin-top: 0px;
	text-align: left;
}

ul#products li .price{
	background-color: #e6e6e6;
	color:#e80b86;
	margin: 10px;
	margin-top: 0px;
	padding: 5px 10px;
	text-align: left;
}

#see-details{
	background-color: #e80b86;
	border:0px;
	margin: 10px;
	margin-top: 0px;
	padding: 5px 10px;
	text-align: center;	
}

#see-details a{
	border:0px;
	color:#e6e6e6;
}

#product-variants ul{
	list-style: none;
}

.container .five.columns{
	width: 560px;
}

#header{
	margin-bottom: 0px;
}

#header #main-menu{
	height: 260px;
}

#header #main-menu #login-row{
	height: 40px;	
	width: 880px;
	padding-right: 40px;
	padding-left: 40px; 
}

#home{
	display: inline-block;
	font-size: 12px;
	font-family: arial;
	width: 55px;
  	height: 16px;
	background: url(/home.png) left center no-repeat; 
	padding-left:25px;
}

#icon-face{
	display: inline-block;
	width: 80px;
  	height: 16px;
	background-image: url(/social.png);
	background-position:  0px 0px;
	background-repeat:  no-repeat;
}

#icon-twitter{
	display: inline-block;
	width: 72px;
  	height: 16px;
	background-image: url(/social.png);
	background-position:  -80px 0px;
	background-repeat:  no-repeat;
	
}

#table-price{
	background-image: url(/ico-precos.png);
	background-position: 17px center;
	background-repeat: no-repeat;
}

#my-account{
	background-image: url(/ico-pedidos.png);
	background-position: 17px center;
	background-repeat: no-repeat;

}

#logout{
	background-image: url(/.png);
	background-position: 17px center;
	background-repeat: no-repeat;

}

#sign-up{
	background-image: url(/ico-usuario-add.png);
	background-position: 17px center;
	background-repeat: no-repeat;

}

#link-to-login{
	background-image: url(/ico-cadeado.png);
	background-position: 17px center;
	background-repeat: no-repeat;

}

#header #main-menu #logo{
	color: #9a9ba3;
	width: 960px;
}

#header #main-menu #logo img{
	margin-top:25px;
	margin-bottom: 25px;
	
}

#area_logo{
	padding-left: 40px;
	padding-right: 40px;
}

#header #main-menu #logo .box-black{
	background-repeat: no-repeat;
	background-color: #232323;
	float: right;
	font-size: 12px;
	height: 35px;
	list-style: none;
	margin-top: 25px;
	margin-left: 40px;
	padding-left: 16px;
	padding-right: 16px;
	/*padding-left: 42px;*/
	width: 85px;
	text-align: center;
}

#header #main-menu #logo .box-black a{
	color: #9a9ba3;
}

#header #main-menu #logo .box-black a:hover{
	color: #fff;
}

#header #main-menu #logo #link-to-cart a{
	float: left;
}

#header #main-menu #logo #link-to-cart{
	background-image: url(/ico-cesta.png);
	background-position: 10px center;
	padding: 12px 6px 13px 46px;
	text-align: left;
	width: 75px;
}

#header #main-menu #logo #link-to-cart a{
	float: left;

}

#header #main-menu #logo #link-to-cart .amount{
	color: #ffd224;
	font-size: 16px;
	font-weight: bold;
	float: left;
}

#link-to-contacts{
	background-image: url(/ico-mensagens_menu.png);
	background-position: center 10px;
	padding-top: 25px;	
}

#link-to-art{
	background-image: url(/ico-arte.png);
	background-position: center 10px;
	padding-top: 25px;
}


#header #main-menu .columns{
	margin-left: 0px;
	margin-right: 0px;
}

#header #main-menu #login-bar{
	line-height:16px;
	padding-top: 10px;
	list-style: none;
}


#main-menu #login-bar .access{
	float: right;
	font-size: 11px;
	
}

#main-menu #login-bar .access li{
	float: left;
	padding-left: 35px;
}

#main-menu #login-bar ul{
	list-style: none;
	margin-right: 5px;
}

#main-menu #login-bar ul li{	
	float:right;
}

#main-menu #login-bar li a{
	color:#fff;
}



#header #banner{
	height: 300px;	
	width: 960px;	
}

#header #banner .nivo-controlNav{
	bottom: 0px;
}

#header #top-nav-bar{
	background-color: #ffaf24;
	border-bottom: 5px solid #f68a23;
	height: 80px;
	width: 960px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: right;;
}

#header #top-nav-bar #nav-bar{
	margin-top: 25px;
}

#search-bar{
	
	display: inline;
	float: right;
	margin-top: 40px;
}

#header #top-nav-bar #search-bar #taxon{	
	background: #d0258a url(/arrow.png) no-repeat right;
	border:0px;
	color:#fff;
	float: left;
	font-weight: bold;
	padding-left: 5px;
	height: 29px;
	width: 152px;
	-webkit-appearance: none;
}

#header #top-nav-bar #search-bar #taxon option{
	color:#000;
}

#search-bar #taxon{
	display: none;
}

#search-bar input[type="search"]{
	padding: 4px 10px;
	
}

#header #top-nav-bar #search-bar input[type="submit"]{
	width: 100px;	
}

#header #main-nav-bar{
	border-bottom: 0px;
	height: 35px;
}

#area_box{
	background-color: #f4ea0e;
	height: 116px;
	width: 880px;
	padding-left: 40px;
	padding-right: 40px;
}

#content #empty-cart{
	margin-top: -50px;
}

#content #empty-cart .button{
	border:0px;
}

#content #empty-cart .continue{
	padding-bottom: 6px;
}


#similar_items_by_taxon{
	list-style: none;
}

.flash.success,
.flash.notice{
	background-color: #2190c5;
}

body .container #footer a,
body .container #footer p{
	color:#fff;
}

.container #footer{
	border-top:0px;
	float: left;
	padding-top: 0px;
}

#footer-top{
	border-bottom:1px solid #d9d9db;
	float: left;
	width: 960px;	
}


.logo-footer img{
	float: left;
	padding: 30px 20px;	
}

.address{
	float: left;
	padding: 44px 20px;
	padding-bottom:27px;
	width: 680px;
}

.address p{
	float: right;
	padding: 0px;
	margin: 0 auto;
}


#footer-bottom{
	float: left;
	padding: 20px 0px;
	width: 960px;
}

#footer-bottom a{
	float: left;
	margin: auto 20px;
}

#footer-bottom img{
	float: right;
	margin: auto 20px;
}

.pagination{
	text-align: center;
}

.pagination span{
	border:1px solid #ccc;
	border-radius:2px;
	font-size:14px;
	padding: 5px 10px;
	margin-right: 1px;

}

#banner .theme-default .nivoSlider{
	-webkit-box-shadow:none;
	box-shadow:none;
}

#filter-variants{
	display: block;
	background-color: #939393;
	list-style: none;
}

#filter-variants li{
	float: left;
}